.about-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 3rem auto;
  border: 1px dotted var(--color-2);
  /* border-radius: 1rem; */
  /* padding: 1rem; */
  /* background-color: var(--color-2b); */
  /* background-color: var(--color-2); */
  /* background-color: white; */
  color: #777;
  /* color: white; */
  /* line-heigth: 1.5; */
  /* overflow: hidden; */
}

.about-header {
  padding: 1rem;
  background-color: var(--color-2);
  /* background-color: var(--color-2b); */
  /* background-color: white; */
  color: white;
  /* color: black; */
  /* color: var(--color-2); */
  text-align: center;
}

.about-title {
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}

.about-subtitle {
  margin: 0 0 1rem 0;
  letter-spacing: 0.1rem;
  /* font-weight: 300; */
}

.about-subtitle a {
  color: #01d277;
  text-decoration: none;
}

.about-tech-stack {
  margin: 1rem 0 0 0;
}
/* 
.about-tech-stack-headline {
  text-align: center;
} */

.about-tech-stack-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.about-tech-stack-list-item {
  /* margin: 0.5rem 1rem; */
}

.about-features {
  /* padding: 0; */
}

.about-home-page,
.about-details-page {
  margin-top: 2rem;
  text-align: center;
}

.about-features-headline {
  text-align: center;
}

.about-features-list {
  padding: 0;
  text-align: center;
  list-style: none;
  line-height: 2;
}
