.about-app-source-code-link {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    background-color: var(--color-1c);
    color: var(--color-1);
}

.about-app-source-code-link:hover {
    text-decoration: none;
    background-color: var(--color-1c);
    color: #ececec;
}

.about-app-intro p a:link,
.about-app-intro p a:active,
.about-app-intro p a:visited,
.about-app-intro p a:focus {
    /* color: #01d277; */
    color: var(--color-1a);
    text-decoration: none;
}

.about-app-intro p a:hover {
    color: var(--color-1);
    text-decoration: underline;
}

.about-app-intro-warning {
    color: red;
}
