.movie-details-stat-stripe {
  display: flex;
  justify-content: center;
  /* list-style-type: none; */
  background-color: var(--color-1b);
  color: white;
}

.movie-details-stat-stripe-item {
  display: inline-block;
  margin: 0.5rem 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.25rem;
}

.movie-details-stat-stripe-item span {
  margin-left: 0.5rem;
}
