.logo {
    /* height: 5vh;
    width: 15vh; */
    opacity: 0.5;
}

.logo-link {
    text-decoration: none;
}

@media only screen and (max-width: 750px) {
    .logo {
        position: absolute;
        top: 4vmin;
        z-index: 2;
    }
}
