* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-1: rgb(5, 55, 85);
  --color-1b: rgb(40, 80, 100);
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
